@model The_Guild.WebApp.ViewModel.QuesterViewModel

@{
    ViewData["Title"] = "AddAdvToRequest";
    var account = ViewData["accountDetails"] as The_Guild.WebApp.ApiModels.ApiAccountDetails;

}

<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/User.css" rel="stylesheet" type="text/css" />
</head>

<body class="user-bg1">
    <h1 class="user-pad">Join this quest?</h1>
    <div class="user-pad user-pad-ri">
        <dl class="row user-form">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10 user-center">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quest)
            </dt>
            <dd class="col-sm-10 user-center">
                @Html.DisplayFor(model => model.Quest)
            </dd>
        </dl>
        <p class="user-default">
            <a asp-action="Index" class="user-button">Back to list</a>
        </p>
        <p class="user-default">
            <a asp-action="SendAdvToRequest" class="user-button">Join Quest</a>
        </p>
    </div>
</body>

