@model IEnumerable<The_Guild.WebApp.ApiModels.ApiRequest>

@{
    ViewData["Title"] = "Index";
    var account = ViewData["accountDetails"] as The_Guild.WebApp.ApiModels.ApiLogin;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RankId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                | @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@if (account?.Roles?.Contains("admin") ?? false)
                {
                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }*@
            </td>
        </tr>
}
    </tbody>
</table>
