@model The_Guild.WebApp.Models.Ranks

@{
    ViewData["Title"] = "Rank Details";
}
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/User.css" rel="stylesheet" type="text/css" />
</head>

<body class="user-bg1">
    <h1 class="user-pad">Details</h1>
    <div class="user-pad">
        <span class="user-button">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </span>
        <a asp-action="Index" class="user-button">Back to List</a>
    </div>
    <div class="user-pad user-pad-ri">
        <dl class="row user-form">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10 user-center">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10 user-center">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fee)
            </dt>
            <dd class="col-sm-10 user-center">
                @Html.DisplayFor(model => model.Fee)
            </dd>
        </dl>
    </div>
</body>

