@model IEnumerable<The_Guild.WebApp.ViewModel.UserIndexModel>

@{
    ViewData["Title"] = "Users";
}
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/User.css" rel="stylesheet" type="text/css" />
</head>

<body class="user-bg1">
    <h1 class="user-default text-shadow">Users</h1>

    <p class="user-default">
        <a asp-action="Create" class="user-button">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr class="user-table-header">
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RankId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="user-table-row">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>
